<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="controller.modalCtrl.dismiss()">
        <ion-icon name="close"></ion-icon> Close window
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-panel" id="main-panel">
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 box-margin height-card">
            <div class="card">
              <div class="card-body">
                <h3>Company Details</h3>
                <form [formGroup]="companyDetailsForm">

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Company Name</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Company Name"
                        formControlName="companyName">
                    </div>


                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Phone</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Phone"
                        formControlName="phoneNumber">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Client Code</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Client Code"
                        formControlName="code">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="salesExecutive" class="col-form-label">Contact Segment</label>
                      <select class="form-control" [(ngModel)]="companyDetailsOthers.contactSegment"
                        [ngModelOptions]="{standalone: true}">
                        <option [value]="1">Importer</option>
                        <option [value]="2">Exporter</option>
                        <option [value]="3">Agent</option>
                        <option [value]="4">Imporer & Exporter</option>


                      </select>
                    </div>
                  </div>



                  <div class="form-row">

                    <div class="form-group col-md-12">
                      <label for="cargoDesc" class="col-form-label">Notes (INTERNAL)</label>
                      <textarea class="form-control" placeholder="Notes (INTERNAL)" formControlName="notes"></textarea>
                    </div>

                  </div>
                  <!--     
                  <button type="submit" class="btn btn-primary" (click)="saveCustomer()" [disabled]="!companyDetailsForm.valid">Save</button>
-->
                </form>

              </div> <!-- end card-body -->
            </div> <!-- end card-->
          </div> <!-- end col -->
          <div class="col-xl-12 box-margin height-card">

          </div>
          <div class="col-xl-12 box-margin height-card">
            <div class="card">
              <div class="card-body">
                <h3>Primary Contact</h3>
                <form [formGroup]="primaryContact">

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Designation</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Export Manager"
                        formControlName="designation">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Name</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Name" formControlName="name">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Phone</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="Phone Number"
                        formControlName="phoneNumber">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="cargoDesc" class="col-form-label">Email</label>
                      <input type="email" class="form-control" id="cargoDesc" placeholder="Email"
                        formControlName="email">
                    </div>
                  </div>



                  <!--                       <button type="submit" class="btn btn-primary" [disabled]="!primaryContact.valid" (click)="saveContact()">Save</button>
-->
                </form>

              </div> <!-- end card-body -->
            </div> <!-- end card-->
          </div> <!-- end col -->
          <div class="col-xl-12 box-margin height-card" *ngFor="let item of otherContacts;let i = index">
            <div class="card">
              <div class="card-body">
                <h3>Other Contact - {{i+1}}</h3>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="cargoDesc" class="col-form-label">Designation</label>
                    <input type="text" class="form-control" id="cargoDesc" placeholder="Export Manager"
                      [(ngModel)]="item.designation">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cargoDesc" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="cargoDesc" placeholder="Name" [(ngModel)]="item.name">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cargoDesc" class="col-form-label">Phone</label>
                    <input type="text" class="form-control" id="cargoDesc" placeholder="Phone Number"
                      [(ngModel)]="item.phoneNumber">
                  </div>

                  <div class="form-group col-md-3">
                    <label for="cargoDesc" class="col-form-label">Email</label>
                    <input type="email" class="form-control" id="cargoDesc" placeholder="Email"
                      [(ngModel)]="item.email">
                  </div>
                </div>



                <!--     <button type="submit" class="btn btn-primary mr-2" 
                  [disabled]="item.name.length==0 || item.phoneNumber.length==0 || item.email.length==0"
                  (click)="saveOtherContact(item)"
                  >Save</button> -->
                <button type="submit" class="btn btn-primary" (click)="addOtherContact()">Add More</button>


              </div> <!-- end card-body -->
            </div> <!-- end card-->
          </div>
          <div class="col-xl-6 box-margin height-card">
            <div class="card">
              <div class="card-body">
                <h3>Address</h3>
                <form [formGroup]="addressForm">


                  <div class="form-group">
                    <label for="cargoDesc" class="col-form-label">Line 1</label>
                    <input type="text" class="form-control" id="cargoDesc" placeholder="line1"
                      formControlName="lineOne">
                  </div>
                  <div class="form-group">
                    <label for="cargoDesc" class="col-form-label">Line 2</label>
                    <input type="text" class="form-control" id="cargoDesc" placeholder="Line2"
                      formControlName="lineTwo">
                  </div>
                  <div class="form-row">

                    <div class="form-group col-md-4">
                      <label for="cargoDesc" class="col-form-label">City</label>
                      <input type="text" class="form-control" id="cargoDesc" placeholder="City" formControlName="city">
                    </div>

                    <div class="form-group col-md-4">
                      <label for="cargoDesc" class="col-form-label">Pincode</label>
                      <input type="email" class="form-control" id="cargoDesc" placeholder="pincode"
                        formControlName="pincode">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="cargoDesc" class="col-form-label">City UN Code</label>
                      <input type="email" class="form-control" id="cargoDesc" placeholder="UN code"
                        formControlName="cityUnCode">
                    </div>
                  </div>





                </form>

              </div> <!-- end card-body -->
            </div> <!-- end card-->
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                <h3>Documents</h3>
                <form [formGroup]="fileUploadForm">
                  <file-upload formControlName="files" animation="true"
                    accept="application/pdf,application/vnd.ms-excel" (change)="uploadFile()"></file-upload>

                </form>
                <div *ngIf="companyDetailsOthers.document">
                  <h4>Uploaded document(s)</h4>
                  <p>{{companyDetailsOthers.document}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button type="submit" class="btn btn-primary float-right mr-3" [disabled]="!isFormValid()" (click)="saveCustomer()"
      *ngIf="getRolePermissions('addressbook',1) && !customerId">Save
      Information</button>
    <button type="submit" class="btn btn-primary float-right mr-3" [disabled]="!isFormValid()" (click)="saveCustomer()"
      *ngIf="getRolePermissions('addressbook',2) && customerId">Update
      Information</button>
  </ion-toolbar>
</ion-footer>