<ion-content>
    <app-header></app-header>

    <div class="wrapper">
        <app-side-menu></app-side-menu>
        <div id="content">
            <div class="container-fluid">
                <div class="form-row ">

                    <div class="col-12">
                        <ion-button class="ion-float-right" mode="ios" (click)="openCrudModal()">
                            <ion-icon name="add" slot="start"></ion-icon>
                            Invite user
                        </ion-button>
                        <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
                            <thead>
                                <tr>

                       
                                    <th> Unique Id</th>


                                    <th>First Name</th>

                                    <th>Last Name</th>

                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>DOB</th>
                                    <th>Gender</th>
                                    <th> Status</th>

                                  <!--   <th> Action</th> -->

                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let data of users;let i = index">
                                    <tr *ngIf="data.firstName">
                                    
                                        <td class="cs-padding-top">
                                            {{data.id}}
                                        </td>
                                        <td class="cs-padding-top">
                                            {{data.firstName}}
                                        </td>
                                        <td  class="cs-padding-top">
                                            {{data.lastName}}
                                        </td>

                                        <td class="cs-padding-top">
                                            {{data.userName}}
                                        </td>
                                        <td class="cs-padding-top">
                                            {{data.email}}
                                        </td>
                                        <td class="cs-padding-top">
                                            {{data.phoneNo}}
                                        </td>
                                        <td class="cs-padding-top">
                                            {{data.dateOfBirth}}
                                        </td>
                                        <td class="cs-padding-top">
                                            {{data.gender==1?"Male":"Female"}}
                                        </td>
                                        <td class="cs-padding-top">
                                           <ion-select [(ngModel)]="data.status"
                                           (ionChange)="changeStatus(data)"
                                           interface="popover"
                                           >
                                            <ion-select-option [value]="1">Active</ion-select-option>
                                            <ion-select-option [value]="0">Inactive</ion-select-option>
                                           </ion-select>
                                        </td>
                                   <!--      <td>
                                            <ion-button 
                                            size="small" (click)="changeStatus(data)"
                                            >Change status</ion-button>
                                        </td> -->
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>