

<div class="header-main mb-0 booking-nav-header">
  <div class="container-fluid">
    <div class="form-row align-items-center">
      <div class="col-md-5   col-6 col-lg-4">
        <button type="button" id="sidebarCollapse" class="btn  navbar-btn  mr-2 mr-md-4"
        (click)="toggleMenu()"
        >
          <i class="material-icons-outlined">menu</i>
        </button>
        <a href="index.html" class="logo-main"> <img src="assets/shopygram-logo.png"> </a>
      </div>

      <div class="col-md-2 text-center d-none d-md-inline-block  col-lg-4">

      </div>

    </div>

  </div>
</div>

