<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">



        <div class="form-row ">


          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
                <tr>

                  <th> Sl. No</th>

                  <th>Name</th>

                  <th>Shop Name</th>

                  <th>City</th>
                  <th>Pincode</th>


                  <th> Status</th>

                  <th> Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of sellers;let i = index">
                  <td class="cs-padding-top">
                    #{{i+1}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.basicInfo.userName}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.basicInfo.shopName}}
                  </td>

                  <td class="cs-padding-top">
                    {{data.basicInfo.city}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.basicInfo.pincode}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.basicInfo.status==1?"Approved":(data.basicInfo.status==-1?"Pending":"Rejected")}}
                  </td>
                  <td>
                    <ion-button (click)="openCrudModal(data)">View</ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>