<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">

        <h6 class="fts-18 mb-5"> Categories

          <ion-button mode="ios" class="ion-float-right" (click)="openCrudModal()">
            Add Category
          </ion-button>
        </h6>


        <div class="form-row ">


          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
                <tr>

                  <th> Sl. No</th>

                  <th>Name</th>

                  <th>Description</th>

                  <th>Gender</th>

                  <th>TAT</th>

                  <th> Status</th>

                  <th> Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of categories;let i = index">
                  <td class="cs-padding-top">
                    #{{i+1}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.name}}
                  </td>
                  <td size="3" class="cs-padding-top">
                    {{data.description}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.gender==0?"Both":(data.gender==1?"Male":"Female")}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.tat}}
                  </td>
                  <!--          <td class="cs-padding-top">
               {{data.hasSubcategories}}
              </td> -->
                  <td>
                    <ion-toggle [(ngModel)]="data.status" (ionChange)="onStatusChange(data.id,$event)"></ion-toggle>
                  </td>
                  <td>
                    <ion-button (click)="openCrudModal(data)" size="small">Edit</ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>