

      <div class="row">
        <div class="col-12 box-margin">
          <div class="card">
            <div class="card-body">
              <h3 class=" mb-2">
                <span class="ion-text-capitalize">{{type}}</span> Bookings</h3>
              <div class="button-wrapper">
                <ion-button mode="ios" class="add-new mr-3" (click)="goToNewBooking()">
                  <ion-icon name="add" slot="start"></ion-icon> Add New
                </ion-button>
  
              </div>
              <div class="filter-wrapper">

                <div class="row">
                  <div class="col-2 pr-1 pl-3">
                    <label class="form-label">Shipment Mode</label>
                    <ngx-select [items]="shipmentModes" #filter optionTextField="name" optionValueField="id"
                      [(ngModel)]="data.shipmentmodeId" placeholder="shipment mode"
                      (select)="onShipmentModeChange()"></ngx-select>
                  </div>

                  <div class="col-2 pr-1 pl-0">
                    <label class="form-label">Incoterms</label>
                    <ngx-select [items]="incoTerms" #filter optionTextField="code" optionValueField="id"
                      [(ngModel)]="data.incotermId" placeholder="incoterms"></ngx-select>
                  </div>

                  <ng-container>

                  </ng-container>

                  <div class="col-3 pr-1 pl-0">
                    <label class="form-label">Customer</label>
                    <ngx-select [items]="addressBook" #filter optionTextField="companyName" optionValueField="id"
                      [(ngModel)]="data.customerId" placeholder="Customer"></ngx-select>
                  </div>

                  
                  <div class="col-5 pr-1 pl-0">
                    <label class="form-label">POL</label>
                    <ngx-select [items]="displayPorts" #filter optionTextField="name" optionValueField="id"
                      [(ngModel)]="data.pol" [placeholder]="'POL '+portPlaceholder" [disabled]="!data.shipmentmodeId"
                      (typed)="searchList($event)" (select)="onItemSelection()" [keepSelectedItems]="keepSelectedItems">
                    </ngx-select>
                  </div>
                  <div class="col-6 pr-1 pt-3">
                    <label class="form-label">POD</label>
                    <ngx-select [items]="displayPorts" #filter optionTextField="name" optionValueField="id"
                      [(ngModel)]="data.pod" [placeholder]="'POD '+portPlaceholder" (typed)="searchList($event)"
                      (select)="onItemSelection()" [disabled]="!data.shipmentmodeId" [keepSelectedItems]="keepSelectedItems">
                    </ngx-select>
                  </div>
                  <div class="col-6 pr-1 pt-3">
                    <label class="form-label">Carrier</label>
                    <ngx-select [items]="carriers" #filter optionTextField="name" optionValueField="name"
                      [(ngModel)]="data.carrier" placeholder="Select Carrier" [disabled]="!data.shipmentmodeId" [keepSelectedItems]="keepSelectedItems">
                    </ngx-select>
                  </div>
                  <div class="col-3 pr-1 pt-3">
                    <label class="form-label">Sales Manager</label>
                    <ngx-select [items]="salesManagers" #filter optionTextField="name" optionValueField="id"
                      [(ngModel)]="data.salesexecutiveId" placeholder="Sales Manager"></ngx-select>
                  </div>
                  <div class="col-3 pr-1 pt-3">
                    <label class="form-label">Status</label>
                    <ngx-select [items]="statuses" #filter optionTextField="name" optionValueField="name" [(ngModel)]="data.statusText"
                      placeholder="Status" [disabled]="!data.shipmentmodeId"></ngx-select>
                  </div>
                  <div class="col-3 pr-1 pt-3">
                    <label class="form-label">Agent</label>
                    <ngx-select [items]="addressBook" #filter optionTextField="companyName" optionValueField="id"
                      [(ngModel)]="data.agentId" placeholder="Agent"></ngx-select>
                  </div>
                  <div class="col-3 pr-1 pt-3" *ngIf="user.role.id==1">
                    <label class="form-label">Branches</label>
                    <ngx-select [items]="branches" #filter optionTextField="name" optionValueField="id"
                      [(ngModel)]="data.branchId" placeholder="Branch"></ngx-select>
                  </div>
                  <div class="form-group col-8 pt-3">
                    <label class="form-label">Date</label>
                    <input ngxDaterangepickerMd #datePicker class="form-control w-50" [(ngModel)]="selectedDate"
                      [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                      [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
                      placeholder="Select date range" (change)="onDateChange()" />
                  </div>
              
                </div>
              </div>
              <div class="button-wrapper ion-margin-vertical">

                  <ion-button mode="ios" class="add-new mr-3" (click)="applyFilter()">
                    <ion-icon name="funnel" slot="start"></ion-icon> Apply Filter
                  </ion-button>
                  <ion-button mode="ios" class="add-new mr-3" (click)="resetFilter()">
                    <ion-icon name="close" slot="start"></ion-icon> Reset Filter
                  </ion-button>

             
             
                <ion-button mode="ios" class="add-new  mr-3" (click)="exportBookingListExcel()">
                  <ion-icon name="cloud-download" slot="start"></ion-icon> &nbsp; Export
                </ion-button>
              </div>
              <div style="overflow: auto;">
                <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
                  <thead>
                    <tr>
                      <th>Booking ID</th>
                      <th>Customer Name</th>
                      <th>Mode</th>
                      <th>POL</th>
                      <th>POD</th>
                      <th>Inco Terms</th>
                      <th>Sales Manager</th>
                      <th>Booked by:</th>
                      <th>ETA</th>
                      <th>ETD</th>
                      <th>Booking Date</th>
                      <th>Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of bookings;let i = index">
                      <td>
                        <a [href]="'/bookings/'+data.id">#{{data.uniqueId}}</a>
                      </td>
                      <td>{{data.customer.companyName}}</td>
                      <td>{{data.shipmentmode.name}}</td>
                      <td *ngIf="data.routing.origin && data.routing.origin.airport">
                        {{data.routing.origin.airport.code}}</td>
                      <td *ngIf="data.routing.origin &&  data.routing.origin.seaport">
                        {{data.routing.origin.seaport.code}}</td>
                      <td *ngIf="!data.routing.origin">-</td>
                      <td *ngIf="!data.routing.destination">-</td>

                      <td *ngIf="data.routing.destination && data.routing.destination.airport">
                        {{data.routing.destination.airport.code}}</td>
                      <td *ngIf="data.routing.destination && data.routing.destination.seaport">
                        {{data.routing.destination.seaport.code}}</td>

                      <td>{{data.incoterm.code}}</td>
                      <td>{{data.salesexecutive.firstName}} {{data.salesexecutive.lastName}}</td>
                      <td>Admin</td>
                      <td *ngIf="data.cargoextrainfo">{{data.cargoextrainfo.eta | date:'shortDate'}}</td>
                      <td *ngIf="data.cargoextrainfo">{{data.cargoextrainfo.etd | date:'shortDate'}}</td>
                      <td *ngIf="!data.cargoextrainfo">-</td>
                      <td *ngIf="!data.cargoextrainfo">-</td>

                      <td>{{data.createdDate | date:'shortDate'}}</td>
                      <td>{{data.statusText}}</td>

                    </tr>

                  </tbody>
                </table>
                <ion-button mode="ios" class="ion-float-right no-btn-border"
                (click)="openSMR()"
                >
                  <ion-icon name="mail" slot="start"></ion-icon> &nbsp; &nbsp; Send SMR</ion-button>
              </div>

            </div> <!-- end card body-->
          </div> <!-- end card -->
        </div><!-- end col-->
      </div>

