<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">
  
        <h6 class="fts-18 mb-3"> Track & Trace </h6>
  
  
        <div class="form-row ">
  
  
  
          <div class="col-xl-2  col-lg-3 col-md-3">
            <div class="form-group mb-2">
              <label> Carrier </label>
              <select class="form-control custom-select" id="exampleFormControlSelect1">
                <option>Select</option>
                <option selected>COSCO</option>
                <option>COSCO</option>
              </select>
            </div>
  
  
          </div>
  
          <div class="col-xl-2   col-lg-3 col-md-3">
  
            <div class="form-group  mb-2">
              <label> Search Type </label>
              <select class="form-control custom-select" id="exampleFormControlSelect1">
                <option> Select</option>
                <option selected>Booking Number</option>
                <option>Select</option>
              </select>
            </div>
  
  
  
          </div>
  
          <div class="col-xl-3 col-lg-4 col-md-3">
            <div class="if-no-lable  pt-2 pt-md-4  mb-2">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Container Number/Booking Number">
            </div>
          </div>
  
  
          <div class="col-xl-3 col-lg-2 col-md-3">
            <a href="#" class="search-btn mt-20"> <i class="material-icons">search</i> Search </a>
          </div>
  
        </div>
  
  
  
        <div class="section-white-box">
  
          <h4 class="mb-3 cl-blue"> #B-000102 </h4>
  
  
          <div class="form-row">
  
            <div class="col-md-4">
              <div class="bg_text_box">
                <h6> CSLU6131253 </h6>
                <p> 40 High Cube (45G0) </p>
              </div>
            </div>
  
  
            <div class="col-md-4">
              <div class="bg_text_box">
                <h6> Xingang, 12, CN </h6>
                <p> Departing on 21 Nov 2021 </p>
              </div>
            </div>
  
  
            <div class="col-md-4">
              <div class="bg_text_box">
                <h6> Auckland Metroport </h6>
                <p> Arriving on 06 Jan 2022 </p>
              </div>
            </div>
  
  
          </div>
  
  
  
  
          <div class="bg-light-gray  space-l-r-none">
  
  
            <div class="form-row">
  
              <div class="col-md-3">
                <div class="bg_text_box border-0 p-0">
                  <p> Port of Loading </p>
                  <h6> Xingang, 12, CN </h6>
                </div>
              </div>
  
              <div class="col-md-6">
  
                <div class="progress-step">
  
                  <div class="border-full"> </div>
  
  
                  <ul>
                    <li class="progress-done">
                      <span>
                        <i class="material-icons-outlined">
                          place
                        </i>
                      </span>
                      <b> Departing </b> 21 Nov 2021
                    </li>
  
                    <li class="progress-active">
                      <span>
                        <i class="material-icons-outlined">
                          sailing
                        </i>
                      </span>
                      <b> Original transit time </b> 44 Days
                    </li>
  
                    <li>
                      <span>
                        <i class="material-icons-outlined">
                          where_to_vote
                        </i>
                      </span>
                      <b> Arriving </b> 03 Jan 2022
                    </li>
  
  
  
  
  
                  </ul>
  
                </div>
  
  
              </div>
  
  
              <div class="col-md-3">
                <div class="bg_text_box border-0 p-0 text-md-right">
                  <p> Port of Discharge</p>
                  <h6> Tauranga, NZ</h6>
                </div>
              </div>
  
            </div>
  
          </div>
  
  
        </div>
  
  
  
  
        <div class="section-white-table">
  
          <div class="form-row pb-3">
  
            <div class="col-7">
              <h6 class="fts-18"> Details </h6>
            </div>
  
  
  
  
  
          </div>
  
  
  
          <div class="row">
            <div class="col-md-12">
  
  
              <div class="table-responsive table-border">
  
                <table class="table table-hover  table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" width="20%">Date and Time </th>
                      <th scope="col" width="20%">Activity </th>
                      <th scope="col" width="30%"> Location </th>
                      <th scope="col" class="text-center" width="10%">Vessel </th>
                      <th scope="col" class="text-center" width="10%">Voyage </th>
                      <th scope="col" class="text-center" width="10%">Status </th>
  
                    </tr>
                  </thead>
                  <tbody>
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 31-Aug-2021
                        08:20</td>
                      <td>Return (Empty)</td>
                      <td>Auckland, NEW ZEALAND</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 27-Aug-2021
                        10:14 </td>
                      <td>Gate Out (Full)</td>
                      <td>Auckland, NEW ZEALAND</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 25-Aug-2021
                        11:54 </td>
                      <td>Available for Delivery</td>
                      <td>Auckland, NEW ZEALAND</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 25-Aug-2021
                        11:54 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 23-Aug-2021
                        02:18 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 23-Aug-2021
                        02:18 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 23-Aug-2021
                        02:18 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 23-Aug-2021
                        02:18 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
                    <tr>
                      <td scope="row"> <span class="material-icons cl-blue">check_circle_outline</span> 23-Aug-2021
                        02:18 </td>
                      <td>Vessel Discharge</td>
                      <td>Shanghai Hongqiao International Apt, CHINA</td>
                      <td class="text-center">ATOUT</td>
                      <td class="text-center">138S</td>
                      <td class="text-center">Full</td>
  
  
                    </tr>
  
  
  
  
  
  
  
  
  
  
  
                  </tbody>
                </table>
              </div>
  
  
  
  
  
            </div>
  
  
  
          </div>
  
  
  
  
  
  
  
  
        </div>
      </div>
    </div>
  </div>

</ion-content>

<!-- <ion-content class="sidebar-mini">

  <div id="preloader-area">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>


  <div class="main-container-wrapper">
    <app-header></app-header>

    <div class="container-fluid page-body-wrapper">
   
      <div class="main-panel" id="main-panel">
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12 box-margin height-card">
                <div class="card">
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label class="col-form-label">Select Carrier</label>
                        <select class="form-control" [(ngModel)]="selectedCarrier" (change)="onCarrierChange()">
                          <option disabled selected value>Select carrier</option>
                          <option *ngFor="let data of carriers; let i = index" [value]="i">{{data}}</option>

                        </select>

                      </div>
                      <div class="form-group col-md-3">
                        <label for="cargoDesc" class="col-form-label">Search Type</label>
                        <select class="form-control" (change)="onSearchTypeSelection($event)">
                          <option *ngFor="let data of requestBodies[selectedCarrier].options;let i = index" [value]="i">
                            {{data.name}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="cargoDesc" class="col-form-label">Search</label>
                        <input type="text" class="form-control" id="cargoDesc"
                          [(ngModel)]="requestBodies[selectedCarrier].body[searchType.value]"
                          [placeholder]="searchType.name">
                      </div>
                      <div class="form-group col-md-3 pt-4">
                        <button type="submit" class="btn btn-primary mt-2" (click)="getTrackingDetails()">
                          Search</button>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-xl-12 box-margin height-card">
                <div class="card" style="display: inline-block;text-align: center;color:black" *ngIf="events.length">
                  <div class="card-body" *ngIf="selectedCarrier==2">
                    <div class="row">

                      <div class="col">

                        <table class="table tracker">

                          <tr>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Time (UTC+12)</th>
                          </tr>
                          <tr *ngFor="let event of events">
                            <td>
                              <strong> {{event.unLocationCode}} </strong><br />
                            </td>
                            <td class="text-center">
                              <strong>{{maerskEventIdentifier(event.eventTypeCode)}}</strong><br />
                              {{event.description}}
                            </td>
                            <td>
                              <strong>{{event.eventDateTime | date:'mediumDate':'UTC+12'}}

                                {{event.eventDateTime | date:'shortTime':'UTC+12'}}
                              </strong>
                            </td>
                          </tr>
                        </table>

                      </div>
                    </div>
                    <div class="tracking-wrapper">

                    </div>
                  </div>
                  <div class="card-body" *ngIf="selectedCarrier==1">
                    <div class="row">

                      <div class="col">

                        <table class="table tracker">

                          <tr>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Time (UTC+12)</th>
                          </tr>
                          <tr *ngFor="let event of events">
                            <td style="width:50%">
                              <strong> {{event.transportCall.UNLocationCode}} </strong><br />

                              {{event.transportCall.otherFacility}}

                            </td>
                            <td class="text-center">
                              <strong>{{maerskEventIdentifier(event.equipmentEventTypeCode)}}</strong><br />
                            </td>
                            <td>
                              <strong>{{event.eventDateTime | date:'mediumDate':'UTC+12'}}

                                {{event.eventDateTime | date:'shortTime':'UTC+12'}}
                              </strong>
                            </td>
                          </tr>
                        </table>

                      </div>
                    </div>
                    <div class="tracking-wrapper">

                    </div>
                  </div>
                  <ng-container *ngIf="selectedCarrier==0">
                    <div class="card-body" *ngFor="let data of events">
                      <div class="row">

                        <div class="col">
                          <caption style="width:100%">
                            <h3>Container Details</h3>
                            <p>
                              Container Number : <strong>{{data.containerNumber.containerNumber}}</strong> <br />
                              Gross Weight : <strong> {{data.containerNumber.grossWeight.weight}}
                                {{data.containerNumber.grossWeight.weightUnit.value}}</strong>
                            </p>
                            <h3>Summary</h3>
                            <p>
                              Arrival at FinalHub : <strong>{{data.route.arrivalAtFinalHub[0].GMT.timeInMillis |
                                date:'mediumDate'}}</strong><br />
                              First POL : <strong>{{data.route.firstPOL.facility.facilityName}}
                                ({{data.route.firstPOL.facility.facilityCode}})</strong><br />
                              Last POD : <strong>{{data.route.lastPOD.facility.facilityName}}
                                ({{data.route.lastPOD.facility.facilityCode}})</strong><br />
                            </p>
                          </caption>
                          <table class="table tracker">

                            <tr>
                              <th>Location</th>
                              <th>Description</th>
                              <th>Time (UTC+12)</th>
                            </tr>
                            <tr *ngFor="let event of data.event">
                              <td>
                                {{event.location.cityDetails.locationCode.UNLocationCode}},
                                {{event.location.cityDetails.city}},
                                {{event.location.cityDetails.country}}
                              </td>
                              <td class="text-left">
                                {{event.eventDescription}}
                              </td>
                              <td>
                                <strong>{{event.eventDT.GMT.timeInMillis | date:'mediumDate':'UTC+12'}}

                                  {{event.eventDT.GMT.timeInMillis | date:'shortTime':'UTC+12'}}
                                </strong>
                              </td>
                            </tr>
                          </table>

                        </div>
                      </div>
                      <div class="tracking-wrapper">

                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> -->