<div class="col-lg-12 col-xl-12 height-card box-margin" style="padding:0px;">
  <div class="card">
    <div class="card-body">
      <h3 class=" mb-2">Port Performance</h3>
      <div class="form-row">
        <div class="col-2 pr-1 pl-3">
          <label class="form-label">Shipment Mode</label>
          <ngx-select [items]="shipmentModes" #filter optionTextField="name" optionValueField="id"
            [(ngModel)]="data.shipmentmodeId" placeholder="shipment mode"
            (select)="onShipmentModeChange()"></ngx-select>
        </div>
        <div class="col-5 pr-1 pl-0">
          <label class="form-label">Port One</label>
          <ngx-select [items]="displayPorts" #filter optionTextField="name" optionValueField="id"
            [(ngModel)]="data.pol" [placeholder]="'POL '+portPlaceholder" [disabled]="!data.shipmentmodeId"
            (typed)="searchList($event)" (select)="onItemSelection()" [keepSelectedItems]="keepSelectedItems">
          </ngx-select>
        </div>
        <div class="col-5 pr-1 pl-0">
          <label class="form-label">Port Two</label>
          <ngx-select [items]="displayPorts" #filter optionTextField="name" optionValueField="id"
            [(ngModel)]="data.pod" [placeholder]="'POD '+portPlaceholder" (typed)="searchList($event)"
            (select)="onItemSelection()" [disabled]="!data.shipmentmodeId" [keepSelectedItems]="keepSelectedItems">
          </ngx-select>
        </div>
        <div class="form-group col-8 pt-3 pl-3">
          <label class="form-label">Date</label>
          <input ngxDaterangepickerMd #datePicker class="form-control w-50" [(ngModel)]="selectedDate"
            [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
            [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
            placeholder="Select date range" (change)="onDateChange()" />
        </div>
        <div class="col-4 pt-3">
          <ion-button mode="ios" class="add-new mr-3 ion-float-right" (click)="resetFilter()">
            <ion-icon name="close" slot="start"></ion-icon> Reset Filter
          </ion-button>
          <ion-button mode="ios" class="add-new mr-3 ion-float-right" (click)="applyFilter()">
            <ion-icon name="funnel" slot="start"></ion-icon> Apply Filter
          </ion-button>
       
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xl-12 height-card box-margin">

          <div class="card d-inline-block text-center no-shadow" >
            <div class="card-body">
              <ngx-chartjs #chart type="bar" [data]="portData" [options]="options"></ngx-chartjs>
            </div>
          </div>
        </div>
      </div>



    </div> <!-- end card body-->
  </div> <!-- end card -->
</div>