<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">



        <div class="form-row ">


          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
                <tr>

   
                  <th>Post Id</th>
                  <th  colspan="1">Caption</th>
                  <th>Status</th>
                  <th> Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of posts;let i = index">
       
                  <td class="cs-padding-top">
                    {{data.id}}
                  </td>
  
                  <td class="cs-padding-top" colspan="1" class="ion-text-wrap">
                    {{data.caption}}
                  </td>
                  <td>
                   <ion-button fill="clear" size="small"
                   [color]="data.postStatus==1?'dark':'danger'" mode="ios"
                   >
                   {{data.postStatus==1?"Active":"Action taken / Disabled"}}
                   </ion-button> 
                  </td>
                  <td>
                    <ion-button [routerLink]="['details',data.postId]" size="small">View</ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>