<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">

        <h6 class="fts-18 mb-5"> Products


        </h6>


        <div class="form-row ">

          
          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
            <tr>
             
                <th> Sl. No</th>
            
            
                <th>Name</th>
           
                <th>Category</th>
        
                <th> Status</th>
            
         
            </tr>
          </thead>
            <tbody>
            <ng-container *ngFor="let data of products;let i = index">
            <tr *ngIf="data.relatedInformation.name">
              <td  class="cs-padding-top">
                #{{i+1}}
              </td>
              <td class="cs-padding-top">
                {{data.relatedInformation.name}}
              </td>
         
              <td class="cs-padding-top">
                {{data.categories.path??'No category since product created in earlier version'}}
              </td>
         

              <td class="cs-padding-top">
                {{data.status==1?"Active":"Inactive"}}<br/>
                <ion-button size="small"
                [routerLink]="['details',data.id]"
                >View</ion-button>
              </td>
            
            </tr>
            </ng-container>
          </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>