<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">

        <ion-card mode="ios" *ngIf=" post.seller" class="ion-padding-vertical">
          <ion-row>
            <ion-col>
              <ion-item lines="none">
              <ion-avatar slot="start">
                <ion-img [src]="post.seller.sellerImageUrl"></ion-img>
              </ion-avatar>
              <ion-label>{{post.seller.shopName}} <br/>
                <ion-text color="dark">
                  <i>
                    Created on {{(response.created*1000)|date:'fullDate'}} {{(response.created*1000)|date:'mediumTime'}}
                </i>  
                </ion-text>
              </ion-label>
              <ion-button color="danger" class="ion-float-right ion-margin" (click)="removePost()"
              *ngIf="post.status!=1" disabled
              >
                <ion-icon name="trash" slot="start"></ion-icon>
                Removed on {{(response.updated*1000)|date:'fullDate'}} {{(response.updated*1000)|date:'mediumTime'}}</ion-button>
              </ion-item>
         
            </ion-col>
          </ion-row>




          <h3>
            Post Details  
            <ion-button fill="clear" [routerLink]="['/products/details',post.productId]" size="small">View Product</ion-button>

          </h3>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked">Caption</ion-label>
                <ion-input type="text" placeholder="Category name" [(ngModel)]="post.caption" readonly></ion-input>
              </ion-item>
            </ion-col>   
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="stacked">Total Likes</ion-label>
                  <ion-input type="text" placeholder="Category name" [(ngModel)]="post.totalLike" readonly></ion-input>
                </ion-item>
              </ion-col>   
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="stacked">Total Comments</ion-label>
                  <ion-input type="text" placeholder="Category name" [(ngModel)]="post.totalComment" readonly></ion-input>
                </ion-item>
              </ion-col>  
              </ion-row>
              
      <h3>Media Details</h3>
        <ion-row>
        <ion-col *ngFor="let media of post.medias " class="ion-padding-horizontal">
          <img [src]="media.src" *ngIf="media.mediaType==1">
          <video [src]="media.src" *ngIf="media.mediaType==2"></video>

        </ion-col>

      </ion-row>

      <ion-button color="danger" class="ion-float-right ion-margin" (click)="removePost()"
      *ngIf="post.status==1"
      >
        <ion-icon name="trash" slot="start"></ion-icon>
        Remove post</ion-button>
        <ion-button color="danger" class="ion-float-right ion-margin" (click)="removePost()"
        *ngIf="post.status!=1" disabled
        >
          <ion-icon name="trash" slot="start"></ion-icon>
          Removed on {{(response.updated*1000)|date:'fullDate'}} {{(response.updated*1000)|date:'mediumTime'}}</ion-button>
      </ion-card>
      </div>
    </div>
  </div>
</ion-content>