<nav class="sidebar"  id="sidebar">



    <ul class="list-unstyled components">
      <li id="m0">
        <a  href="/dashboard">
          <i class="material-icons-outlined">home</i>
          Dashboard
        </a>
      </li>

      <li id="m1">
        <a  href="/categories">
          <i class="material-icons-outlined">pie_chart</i>
          Categories
        </a>
      </li>
      <li id="m2">
        <a  href="/products" >
          <i class="material-icons-outlined">checkroom</i>
          Products
        </a>
      </li>




      <li id="m4" >
        <a href="/orders">
          <i class="material-icons-outlined">shopping_bag</i>
          Orders
        </a>
      </li>

      <li id="m5" >
        <a href="/sellers">
          <i class="material-icons-outlined">add_business</i>
          Sellers
        </a>
      </li>
  
      <li id="m6" >
        <a href="/users">
          <i class="material-icons-outlined">person</i>
          Users
        </a>
      </li>
      <li id="m6" >
        <a href="/posts">
          <i class="material-icons-outlined">approval</i>
          Reported posts
        </a>
      </li>
    </ul>


  </nav>