<nav class="sidebar"  id="sidebar">



    <ul class="list-unstyled components">


      <li id="m1">
        <a  href="/categories">
          <i class="material-icons-outlined">pie_chart</i>
          Categories
        </a>
      </li>
      <li id="m2">
        <a  href="/products" >
          <i class="material-icons-outlined">contact_page</i>
          Products
        </a>
      </li>




      <li id="m4" >
        <a href="/orders">
          <i class="material-icons-outlined">share_location</i>
          Orders
        </a>
      </li>

      <li id="m5" >
        <a href="/sellers">
          <i class="material-icons-outlined">share_location</i>
          Sellers
        </a>
      </li>
  


    </ul>


  </nav>