ion-row {
    background:white;
    border-bottom:solid lightgray 1px;
    ion-col {
        font-size:13px;
        text-align: center;
        h3 {
            font-size:medium
        }
    }
}
.cs-padding-top {
    padding-top:15px;
}