<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">



        <div class="form-row ">


          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
                <tr>
                  <th> Sl. No</th>
                  <th>Order Id</th>
                  <th>Product Name</th>
                  <th>Buyer Details</th>
                  <th>Total Amount</th>
                  <th>Current Status</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of orders;let i = index">
                  <tr *ngIf="data.productDetails.relatedInformation">
                    <td class="cs-padding-top">
                      #{{i+1}}
                    </td>
                    <td class="cs-padding-top">
                      {{data.orderId}} <br />
                      <span *ngIf="data.shipping">{{data.shipping.logistic_name}} <br />
                        AWB: {{data.awbNumber??0}}</span>
                    </td>
                    <td class="cs-padding-top">
                      {{data.productDetails.relatedInformation.name}} <br />
                      Qty: {{data.pricing.quantity}}, Rs. {{data.pricing.sellingPrice}} <br />
                      {{data.productDetails.sku}}
                    </td>
                    <td class="cs-padding-top">
                      {{data.user.firstName}} {{data.user.lastName}} <br />
                      {{data.delivery.road}} , {{data.delivery.flatNo}}, {{data.delivery.area}},
                      {{data.delivery.city}}, {{data.delivery.pincode}}
                    </td>
                    <td class="cs-padding-top">
                      {{data.pricing.totalAmount|number:'1.2-2'}}<br />
                      Delivery: Rs.{{data.pricing.deliveryCharges??0}}
                    </td>

                    <td class="cs-padding-top">
                      {{data.tracking[data.tracking.length-1].statusText}}<br />
                      <ion-button size="small" [routerLink]="['details',data.id]">View</ion-button>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>