<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">



        <div class="form-row ">


          <div class="col-12">
<ion-card mode="ios">
  <h3 class="ion-padding-horizontal">Top Level Category</h3>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" placeholder="Category name" [(ngModel)]="category.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">TAT (in days)</ion-label>
          <ion-input type="number" placeholder="Turn around time" [(ngModel)]="category.tat"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Gender</ion-label>
          <ion-select [(ngModel)]="category.gender">
            <ion-select-option [value]="1">Male</ion-select-option>
            <ion-select-option [value]="2">Female</ion-select-option>
            <ion-select-option [value]="3">Both</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-input type="text" placeholder="Description" [(ngModel)]="category.description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Cancel Penalty</ion-label>
          <ion-input type="number" placeholder="Cancel Penalty" [(ngModel)]="category.misc.penalty.cancel"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">TAT Penalty</ion-label>
          <ion-input type="number" placeholder="TAT Penalty" [(ngModel)]="category.misc.penalty.tat"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="category.id">
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Platform Commission (%)</ion-label>
          <ion-input type="number" placeholder="Commission" [(ngModel)]="category.platformCommision"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Affiliate Commission (%)</ion-label>
          <ion-input type="number" placeholder="Commission" [(ngModel)]="category.affiliateCommision"></ion-input>
        </ion-item>
      </ion-col>

        <ion-col style="padding-top: 45px;" size="12">
          <input type="file" accept="image/*" (change)="uploadFile($event)">
          <img [src]="category.assets.image" *ngIf="category.assets.image" style="width: 200px;">
        </ion-col>
  
    </ion-row>
    <ion-button mode="ios" expand="full" class="ion-margin" (click)="alterCategory(category)" *ngIf="!category.id">
      Add Top Level Category

    </ion-button>
    <ion-button mode="ios" expand="full" class="ion-margin" (click)="alterCategory(category,category.id)" *ngIf="category.id">
      Edit Top Level Category
  </ion-button>
<!--     <p class="ion-padding-horizontal" *ngIf="!category.id" style="color: red;font-size:13px">

        Note: Platform & Product commission can be added only after a top level category has been created
   
    </p> -->
</ion-card>
<ion-card mode="ios" *ngIf="category.id">
  <h3 class="ion-padding-horizontal">Second Level Categories</h3>

  <ion-row >
    <ion-col >
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Category name" [(ngModel)]="newSecondLevelCategory.name"></ion-input>
      </ion-item>
      <ion-button mode="ios" expand="full" class="ion-margin" (click)="alterCategory(newSecondLevelCategory,'',2)">
        Add 2nd Level Category
    </ion-button>
    </ion-col>
    <ion-col *ngFor="let category of subcategories">
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Category name" [(ngModel)]="category.name"></ion-input>
      </ion-item>
      <ion-button mode="ios" class="ion-margin" (click)="alterCategory(category,category.id)">
        {{category.id?"Edit Category":"Add 2nd Level Category"}}
    </ion-button>
    <ion-button mode="ios" class="ion-margin" (click)=" getSubCategories(category.id,3)">
    View 3rd Level
  </ion-button>
    </ion-col>

  </ion-row>


</ion-card>
<ion-card mode="ios"  *ngIf="category.id && level==3">
  <h3 class="ion-padding-horizontal">Third Level Categories</h3>

  <ion-row>
    <ion-col >
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Category name" [(ngModel)]="newThirdLevelCategory.name"></ion-input>
      </ion-item>
      <ion-button mode="ios" expand="full" class="ion-margin" (click)="alterCategory(newThirdLevelCategory,'',3)">
        Add 3rd Level Category
    </ion-button>
    </ion-col>
    <ion-col  *ngFor="let category of subsubcategories">
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Category name" [(ngModel)]="category.name"></ion-input>
      </ion-item>
      <ion-button mode="ios" expand="full" class="ion-margin" (click)="alterCategory(category,category.id)">
        {{category.id?"Edit 3rd Level Category":"Add 3rd Level Category"}}
    </ion-button>
    </ion-col>


  </ion-row>


</ion-card>
</div>
</div>
</div>
</div>
</div>
</ion-content>