<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">

        <h6 class="fts-18 mb-5"> Brand

          <ion-button mode="ios" class="ion-float-right" (click)="openCrudModal(1)">
            Add Brand
          </ion-button>
          
        </h6>


        <div class="form-row ">


          <div class="col-12">
            <select class="custom-select form-control" [(ngModel)]="segment" (change)="onSegmentSelection()">
              <option [value]="1">Show Pending Brands</option>
              <option [value]="2">Show Approved Brands</option>
            </select>
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap"
            *ngIf="segment!=3"
            >
              <thead>
                <tr>

                  <th> Sl. No</th>
                  <th>Name</th>
                  <th >Updated</th>
                  <th>Status</th>
     

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of results;let i = index">
                  <td class="cs-padding-top">
                    #{{i+1}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.name}}
                  </td>
                  <td class="cs-padding-top">
                    {{(data.updated??data.created)*1000 | date:'shortDate' }}
                  </td>
                  <td *ngIf="data.status==2 ">
                    <ion-button (click)="approveBrand(data.id)" size="small">Approve</ion-button>
                  </td>
                  <td *ngIf="data.status==2">
                    <ion-button (click)="disapproveBrand(data.id)" size="small">Dis-Approve</ion-button>
                  </td>
                  <td *ngIf="data.status!=2" >
                    <ion-toggle [checked]="data.status==0?false:true"(ionChange)="onStatusChange(data,$event)"></ion-toggle>
                  </td>
              
                </tr>
              </tbody>
            </table>
   
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>