<ion-header>
  <ion-toolbar>
    <ion-title>Manage Seller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card mode="ios">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Seller Status</ion-label>
          <ion-select [(ngModel)]="seller.basicInfo.status">
            <ion-select-option [value]="1">Approved</ion-select-option>
            <ion-select-option [value]="-2">Rejected</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="seller.basicInfo.status==-2">
        <ion-item lines="none">
          <ion-label position="stacked">Rejection Reason</ion-label>
          <ion-textarea [(ngModel)]="reason" rows="2"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Shop Name</ion-label>
          <ion-input type="text" placeholder="Shop name" [(ngModel)]="seller.basicInfo.shopName"
          readonly
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea rows="2"  [(ngModel)]="seller.basicInfo.shopDescription"
          readonly

          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <h3 class="ion-margin-horizontal">GST Details</h3>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">GST No</ion-label>
          <ion-input type="text" placeholder="GST number" [(ngModel)]="seller.kycDetails.gstNo"
          readonly

          ></ion-input>

        </ion-item>
        </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">GST address</ion-label>
          <ion-input type="text" placeholder="GST address" expand="full" [(ngModel)]="seller.kycDetails.gstAddress"></ion-input>

        </ion-item>

      </ion-col>

    </ion-row>
    <h3 class="ion-margin-horizontal">Bank Details</h3>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Bank Account No.</ion-label>
          <ion-input type="text" placeholder="Account number" [(ngModel)]="seller.bankDetails.bankAccountNo"
          readonly

          ></ion-input>

        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Account holder name</ion-label>
          <ion-input type="text" placeholder="Holder Name" expand="full" [(ngModel)]="seller.bankDetails.bankAccountHolderName"></ion-input>

        </ion-item>

      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Bank Name</ion-label>
          <ion-input type="text" placeholder="Bank Name" expand="full" [(ngModel)]="seller.bankDetails.bankName"></ion-input>

        </ion-item>

      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Bank IFSC</ion-label>
          <ion-input type="text" placeholder="Bank IFSC" expand="full" [(ngModel)]="seller.bankDetails.bankIFSC"></ion-input>

        </ion-item>

      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Bank branch</ion-label>
          <ion-input type="text" placeholder="Branch name" expand="full" [(ngModel)]="seller.bankDetails.bankBranchName"></ion-input>

        </ion-item>

      </ion-col>
    </ion-row>
    <h3 class="ion-margin-horizontal">KYC Details</h3>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Pan Card</ion-label>
          <ion-input type="text" placeholder="Pan Card No." [(ngModel)]="seller.kycDetails.panCardNo"
          readonly

          ></ion-input>

        </ion-item>
        <ion-button expand="full" 
        [disabled]="!seller.kycDetails.panCardFileSrc"
        (click)="viewDocument(seller.kycDetails.panCardFileSrc)">View Pan Card</ion-button>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Aadhar Card</ion-label>
          <ion-input type="text" placeholder="Aadhar Card No." expand="full" [(ngModel)]="seller.kycDetails.aadharCardNo"></ion-input>

        </ion-item>
        <ion-button expand="full" (click)="viewDocument(seller.kycDetails.aadharCardFileSrc)"
        [disabled]="!seller.kycDetails.aadharCardFileSrc"

        >View Aadhar Card</ion-button>
      </ion-col>

    </ion-row>

</ion-card>
</ion-content>
<ion-footer *ngIf="(seller.basicInfo.status==-2 && reason) || seller.basicInfo.status!=-2">
  <ion-toolbar color="primary" class="ion-text-center" (click)="onStatusChange()">
    Update status
  </ion-toolbar>
</ion-footer>