<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item create-new">
      <a class="nav-link" href="/bookings/add">
        <ion-icon name="add-circle-outline"></ion-icon>

        <span class="menu-title">New booking</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard">
        <ion-icon name="grid-outline"></ion-icon>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bookings">
        <ion-icon name="cube-outline"></ion-icon>
        <span class="menu-title">Bookings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/track">
        <ion-icon name="analytics-outline"></ion-icon>
        <span class="menu-title">Track & Trace</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addressbook">
        <ion-icon name="people-circle-outline"></ion-icon> <span class="menu-title">Addressbook</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/all">
        <ion-icon name="people-outline"></ion-icon>
        <span class="menu-title">Users</span>
      </a>
    </li>
  </ul>
</nav>