<ion-content>
  <app-header></app-header>

  <div class="wrapper">
    <app-side-menu></app-side-menu>
    <div id="content">
      <div class="container-fluid">



        <div class="form-row ">


          <div class="col-12">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table w-100 nowrap">
              <thead>
                <tr>
                 <th> Sl. No</th>
                  <th>Date</th>
                  <th>Order #</th>
                  <th>Shop Name</th>
                  <th>Cart Amount</th>
                  <th>Delivery Charges</th>
                  <th>Total Platform Earning</th>
                  <th>Total Transfer Price</th>
                       </tr>
              </thead>
              <tbody>
                <ng-container  *ngFor="let data of orders;let i = index">
                <tr >
                  <td class="cs-padding-top">
                    {{i+1}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.created*1000 | date:'dd LLL YYYY'}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.orderId}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.seller.shopName}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.pricing.totalAmount}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.pricing.deliveryCharges}}
                  </td>
                  <td class="cs-padding-top">
                    {{(data.pricing.sellingPrice -  data.pricing.transferPrice) | number:'1.2-2'}}
                  </td>
                  <td class="cs-padding-top">
                    {{data.pricing.transferPrice}}
                  </td>
                </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>